{
  "rules": {
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ],
    "react-hooks/exhaustive-deps": "warn"
  },
  "env": {
    "node": {
      "rules": {
        "no-unused-vars": "off",
        "react-hooks/exhaustive-deps": "off"
      }
    }
  }
}
