{
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ],
    "react-hooks/exhaustive-deps": "warn"
  }
}